     *{
            margin: 0;
            padding: 0;
        }
        body{
            width: 100vw;
            height: 100vh;
            background-color: #DECFE2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        .img{
            width: 250px;
            border-radius: 18px;
        }
        .img img{
            width: 250px;
            border-radius: 18px;

        }
        .btn{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        a{
            text-decoration: none;
            color: black;
            padding: 8px 22px;
            background-color: white;
            border-radius: 25px;
            box-shadow: 0px 2px 10px 0px black;
        }
        p{
            font-weight: 500;
            font-size: 15px;
        }